<!DOCTYPE html>
<html>
<title>Student Management System</title>
<!-------------Head Section Starts-------------->
<% include ../students/partials/head %>
<!-------------Head Section Ends-------------->

<!----------------Nav Starts------------------->
<% include ../students/partials/nav %>
<!----------------Nav Ends------------------->

<div class="container">

    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
            <div class="input-field col s12 center">
                <h1 class="center login-form-text" href="/students">Edit Record</h1>
            </div>
            <form class="myclass" action="/students/update/<%= student._id %>" method="post">
                <div class="row"></div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input class="validate" id="name" type="text" name="name" value="<%= student.name %>">
                        <label for="name" data-error="wrong" data-success="right" class="center-align">Student Name</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-action-assignment prefix"></i>
                        <input class="validate" id="address" type="text" name="address" value="<%= student.address %>">
                        <label for="address" data-error="wrong" data-success="right" class="center-align">Address</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-action-list prefix"></i>
                        <input class="validate" id="batch" type="text" name="batch" value="<%= student.batch %>">
                        <label for="batch" data-error="wrong" data-success="right" class="center-align">Batch</label>
                    </div>
                </div>
                <!-- New fields start here -->
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-action-account-balance prefix"></i>
                        <input class="validate" id="roll_number" type="text" name="roll_number" value="<%= student.roll_number %>">
                        <label for="roll_number" data-error="wrong" data-success="right" class="center-align">Roll Number</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-editor-insert-chart prefix"></i>
                        <input class="validate" id="cgpa" type="number" step="0.01" name="cgpa" value="<%= student.cgpa %>">
                        <label for="cgpa" data-error="wrong" data-success="right" class="center-align">CGPA</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-communication-phone prefix"></i>
                        <input class="validate" id="phone_number" type="tel" name="phone_number" value="<%= student.phone_number %>">
                        <label for="phone_number" data-error="wrong" data-success="right" class="center-align">Phone Number</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-action-event prefix"></i>
                        <input class="validate" id="dob" type="date" name="dob" value="<%= student.dob %>">
                        <label for="dob" data-error="wrong" data-success="right" class="center-align">Date of Birth</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s6">
                        <i class="mdi-action-favorite prefix"></i>
                        <input class="validate" id="blood_group" type="text" name="blood_group" value="<%= student.blood_group %>">
                        <label for="blood_group" data-error="wrong" data-success="right" class="center-align">Blood Group</label>
                    </div>
                </div>
                <!-- New fields end here -->
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light col s6" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>
